Source: caputlog
Section: devel
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>= 9.20141010), dpkg-dev (>= 1.17.14),
               epics-debhelper (>= 8.14~), epics-dev (>= 3.14.12.3),
               python3-sphinx,
               rtems-epics-mvme2100 <pkg.epics-base.rtems>,
               rtems-epics-mvme2307 <pkg.epics-base.rtems>,
               rtems-epics-mvme3100 <pkg.epics-base.rtems>,
               rtems-epics-mvme5500 <pkg.epics-base.rtems>,
XS-Rtems-Build-Depends: rtems-epics
X-Epics-Targets: .*
Standards-Version: 4.3.0
Homepage: http://www-csr.bessy.de/control/SoftDist/caPutLog/

Package: libcaputlog3.6
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Logging of CA write operations
 .
 This package provides shared libraries

Package: epics-caputlog-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libcaputlog3.6 (= ${binary:Version}),
         libjs-jquery, libjs-underscore,
Description: Logging of CA write operations
 .
 This package provides files needed to build an
 IOC with the CA Put Log support.

Package: rtems-caputlog-mvme2100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (>= ${binary:Version}),
         epics-caputlog-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME2100 PowerPC based VME SBC.

Package: rtems-caputlog-mvme2307
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (>= ${binary:Version}),
         epics-caputlog-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME2307 PowerPC based VME SBC.

Package: rtems-caputlog-mvme3100
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (>= ${binary:Version}),
         epics-caputlog-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME3100 PowerPC based VME SBC.

Package: rtems-caputlog-mvme5500
Build-Profiles: <pkg.epics-base.rtems>
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (>= ${binary:Version}),
         epics-caputlog-dev (<< ${binary:Version}.1~), ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME5500 PowerPC based VME SBC.
