Source: caputlog
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), epics-debhelper (>= 6~),
               epics-dev (>= 3.14.11-2),
               python-sphinx,
               rtems-epics-mvme2100,
               rtems-epics-mvme2307,
               rtems-epics-mvme3100,
               rtems-epics-mvme5500,
XS-Rtems-Build-Depends: rtems-epics
X-Epics-Targets: .*
Standards-Version: 3.8.0
Homepage: http://www-csr.bessy.de/control/SoftDist/caPutLog/

Package: libcaputlog3.3.3
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Logging of CA write operations
 .
 This package provides shared libraries

Package: epics-caputlog-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libcaputlog3.3.3 (= ${binary:Version}),
         libjs-jquery,
Description: Logging of CA write operations
 .
 This package provides files needed to build an
 IOC with the CA Put Log support.

Package: rtems-caputlog-mvme2100
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (= ${binary:Version}),
         ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME2100 PowerPC based VME SBC.

Package: rtems-caputlog-mvme2307
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (= ${binary:Version}),
         ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME2307 PowerPC based VME SBC.

Package: rtems-caputlog-mvme3100
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (= ${binary:Version}),
         ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME3100 PowerPC based VME SBC.

Package: rtems-caputlog-mvme5500
Architecture: all
Depends: ${rtems:Depends}, epics-caputlog-dev (= ${binary:Version}),
         ${misc:Depends},
Description: Logging of CA write operations
 .
 This package contains support for the MVME5500 PowerPC based VME SBC.
