#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --with epics -Sepicsmake

override_dh_auto_install:
	dh_auto_install
	find debian/tmp -name jquery.js -exec ln -sf /usr/share/javascript/jquery/jquery.min.js {} \;
	find debian/tmp -name underscore.js -exec ln -sf /usr/share/javascript/underscore/underscore.min.js {} \;

override_dh_install:
	dh_install --fail-missing
